# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# gRPC generated
*_pb2.py
*_pb2_grpc.py